# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
%run -i "create_tables.py"
%run -i "etl.py"

71 files found in data/song_data
1/71 files processed.
2/71 files processed.
3/71 files processed.
4/71 files processed.
5/71 files processed.
6/71 files processed.
7/71 files processed.
8/71 files processed.
9/71 files processed.
10/71 files processed.
11/71 files processed.
12/71 files processed.
13/71 files processed.
14/71 files processed.
15/71 files processed.
16/71 files processed.
17/71 files processed.
18/71 files processed.
19/71 files processed.
20/71 files processed.
21/71 files processed.
22/71 files processed.
23/71 files processed.
24/71 files processed.
25/71 files processed.
26/71 files processed.
27/71 files processed.
28/71 files processed.
29/71 files processed.
30/71 files processed.
31/71 files processed.
32/71 files processed.
33/71 files processed.
34/71 files processed.
35/71 files processed.
36/71 files processed.
37/71 files processed.
38/71 files processed.
39/71 files processed.
40/71 files processed.
41/71 files processed.
42/71 files processed.
43/71 files processed.
44/71 files processed.
45/71 files processed.
46/71 files processed.
47/71 files processed.
48/71 files processed.
49/71 files processed.
50/71 files processed.
51/71 files processed.
52/71 files processed.
53/71 files processed.
54/71 files processed.
55/71 files processed.
56/71 files processed.
57/71 files processed.
58/71 files processed.
59/71 files processed.
60/71 files processed.
61/71 files processed.
62/71 files processed.
63/71 files processed.
64/71 files processed.
65/71 files processed.
66/71 files processed.
67/71 files processed.
68/71 files processed.
69/71 files processed.
70/71 files processed.
71/71 files processed.
30 files found in data/log_data
1/30 files processed.
2/30 files processed.
3/30 files processed.
4/30 files processed.
5/30 files processed.
6/30 files processed.
7/30 files processed.
8/30 files processed.
9/30 files processed.
10/30 files processed.
11/30 files processed.
12/30 files processed.
13/30 files processed.
14/30 files processed.
15/30 files processed.
16/30 files processed.
17/30 files processed.
18/30 files processed.
19/30 files processed.
20/30 files processed.
21/30 files processed.
22/30 files processed.
23/30 files processed.
24/30 files processed.
25/30 files processed.
26/30 files processed.
27/30 files processed.
28/30 files processed.
29/30 files processed.
30/30 files processed.

In [6]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [3]:
!echo "\l" | sudo -u postgres psql

                              List of databases
    Name    |  Owner   | Encoding  | Collate | Ctype |   Access privileges
------------+----------+-----------+---------+-------+-----------------------
 postgres   | postgres | SQL_ASCII | C       | C     |
 sparkifydb | student  | UTF8      | C       | C     |
 studentdb  | postgres | SQL_ASCII | C       | C     | =Tc/postgres         +
            |          |           |         |       | postgres=CTc/postgres+
            |          |           |         |       | student=CTc/postgres
 template0  | postgres | SQL_ASCII | C       | C     | =c/postgres          +
            |          |           |         |       | postgres=CTc/postgres
 template1  | postgres | SQL_ASCII | C       | C     | =c/postgres          +
            |          |           |         |       | postgres=CTc/postgres
(5 rows)

In [4]:
!echo "create database sparkifydb" | sudo -u postgres psql

ERROR:  database "sparkifydb" already exists

In [7]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [8]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [9]:
song_files = "data/song_data"

In [10]:
filepath = song_files

In [11]:
listOfsong = get_files(filepath)

In [12]:
#selecting the first json file
firstsong = listOfsong[0]
firstsong

'/home/workspace/data/song_data/A/B/C/TRABCRU128F423F449.json'

In [13]:
df = pd.read_json(firstsong, lines=True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,AR8IEZO1187B99055E,NaN,,NaN,Marc Shaiman,149.86404,1,SOINLJW12A8C13314C,City Slickers,2008

In [11]:
#Reading the first song from the list 
# import json

# with open(firstsong) as f:
#   data = json.load(f)
#   print(data)

In [12]:
#looping through the list to view all song  
# for i in df:
#     with open([i][0]) as f:
#       data = json.load(f)
#       print(data)

In [13]:
#appending the total song to an empty list 
# df = []
# for i in listOfsong:
#     with open([i][0]) as f:
#       data = json.load(f)
#       df.append(data)

In [14]:
# import json
# for i in listOfsong:
#     with open([i][0]) as f:
#       data = json.load(f)
#       data = pd.DataFrame([data])
#       data = data[['artist_id', 'duration', 'song_id', 'title', 'year']]
#       display(data)

In [15]:
# df = pd.DataFrame(df)
# df.head(2)

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [13]:
df[['artist_id', 'duration', 'song_id', 'title', 'year']].values[0].tolist()

['AR8IEZO1187B99055E', 149.86404, 'SOINLJW12A8C13314C', 'City Slickers', 2008]

In [17]:
# df1 = df[['artist_id', 'duration', 'song_id', 'title', 'year']]
# df1.head(4)

In [18]:
# df2 = df1.values
# df2 = df2[0]
# df2

In [14]:
song_data = df[['artist_id', 'duration', 'song_id', 'title', 'year']].values[0].tolist()
song_data

['AR8IEZO1187B99055E', 149.86404, 'SOINLJW12A8C13314C', 'City Slickers', 2008]

In [14]:
# for elements in d:

#     print(type(elements))

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [15]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [ ]:
#artist_table_insert = ("""INSERT INTO artists(artist_id, artist_name, artist_location, artist_latitude, artist_longitude)

In [16]:
df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0].tolist()

['AR8IEZO1187B99055E', 'Marc Shaiman', '', nan, nan]

In [17]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0].tolist()
artist_data

['AR8IEZO1187B99055E', 'Marc Shaiman', '', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [18]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [14]:
log_files = 'data/log_data'

In [15]:
filepath = log_files

In [16]:
listoflogfile =  get_files(filepath)

In [17]:
#selecting the first json file
firstlog = listoflogfile[0]
firstlog

'/home/workspace/data/log_data/2018/11/2018-11-29-events.json'

In [ ]:
# import json
# dflog = []
# for line in open(firstlog, 'r'):
#   dflog.append(json.loads(line))

In [20]:
df = pd.read_json(firstlog, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 18 columns):
artist           319 non-null object
auth             366 non-null object
firstName        352 non-null object
gender           352 non-null object
itemInSession    366 non-null int64
lastName         352 non-null object
length           319 non-null float64
level            366 non-null object
location         352 non-null object
method           366 non-null object
page             366 non-null object
registration     352 non-null float64
sessionId        366 non-null int64
song             319 non-null object
status           366 non-null int64
ts               366 non-null int64
userAgent        352 non-null object
userId           366 non-null object
dtypes: float64(2), int64(4), object(12)
memory usage: 51.5+ KB

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [13]:
df = df[df.page.str.contains('NextSong')]
df.head(4)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

In [14]:
#dfN['Date_Time'] = pd.to_datetime(dfl['ts'], format= '%Y-%m-%d %H:%M')

In [15]:
t = pd.to_datetime(df['ts'], unit='ms')
t.head()

0   2018-11-29 00:00:57.796
1   2018-11-29 00:01:30.796
2   2018-11-29 00:04:01.796
3   2018-11-29 00:04:55.796
4   2018-11-29 00:07:13.796
Name: ts, dtype: datetime64[ns]

In [16]:
time_data = []
for element in t:
    time_data.append (t)
    time_data.append(t.dt.year)
    time_data.append(t.dt.month)
    time_data.append(t.dt.day)
    time_data.append(t.dt.hour)
    time_data.append(t.dt.week)
    time_data.append(t.dt.dayofweek)

In [17]:
column_label = ['start_time', 'ýear', 'month', 'day', 'hour', 'week','dayofweek']

In [18]:
# time_data = []
# for element in dfN:
#     time_data.append(dfN['ts'])
#     time_data.append(dfN['ts'].dt.year)
#     time_data.append(dfN['ts'].dt.month)
#     time_data.append(dfN['ts'].dt.day)
#     time_data.append(dfN['ts'].dt.hour)
#     time_data.append(dfN['ts'].dt.week)
#     time_data.append(dfN['ts'].dt.dayofweek)

In [19]:
time_data = time_data
column_labels = column_label

In [20]:
time_df = pd.DataFrame({column_label[0]: time_data[0],
              column_label[1]: time_data[1],
              column_label[2]: time_data[2],
              column_label[3]: time_data[3],
              column_label[4]: time_data[4],
              column_label[5]: time_data[5],
              column_label[6]: time_data[6]
              
                })
time_df.head(4)

               start_time  ýear  month  day  hour  week  dayofweek
0 2018-11-29 00:00:57.796  2018     11   29     0    48          3
1 2018-11-29 00:01:30.796  2018     11   29     0    48          3
2 2018-11-29 00:04:01.796  2018     11   29     0    48          3
3 2018-11-29 00:04:55.796  2018     11   29     0    48          3

In [21]:
time_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319 entries, 0 to 365
Data columns (total 7 columns):
start_time    319 non-null datetime64[ns]
ýear          319 non-null int64
month         319 non-null int64
day           319 non-null int64
hour          319 non-null int64
week          319 non-null int64
dayofweek     319 non-null int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 19.9 KB

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [33]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

In [22]:
# print(time_table_insert)
for i, row in time_df.iterrows():
    #print(row)
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [20]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]
user_df.head(4)

  userId firstName lastName gender level
0     73     Jacob    Klein      M  paid
1     24     Layla  Griffin      F  paid
2     24     Layla  Griffin      F  paid
3     73     Jacob    Klein      M  paid

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [21]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [22]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.artist, row.song, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None
#start_time,level,song_id,artist_id,session_id,userAgent
    # insert songplay record
    songplay_data = (pd.Timestamp(row.ts, unit="ms"),row.level,songid, artistid,row.sessionId,row.location,row.userAgent,row.userId)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

TypeError: not all arguments converted during string formatting

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.